* {
    box-sizing: border-box;
}

html {
    background-color: #0f3057;
}

body {
    position: relative;
}

.heading {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-size: 3em;
    font-weight: bold;
    color: #007bac;
    text-align: center;
}

#userSelection {
    width: 12%;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
    top: 80px;
    left: 0;
}

.selectIconUser {
    font-size: 6em;
    width: 80%;
    margin: 30px;
    margin-bottom: 0;
    color: #e7e7de;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.userHover:hover {
    border: 5px dashed #008891;
    border-radius: 20px;
    cursor: pointer;
}

.pose1 {
    position: absolute;
    top: 10px;
    left: 0;
}

.pose2 {
    position: absolute;
    top: 200px;
    left: 0;
}

.pose3 {
    position: absolute;
    top: 390px;
    left: 0;
}

.choice {
    /* border: 1px solid red; */
    width: 300px;
    position: absolute;
    top: -5px;
    color: #007bac;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}

.versus {
    position: absolute;
    top: 700%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #007bac;
}

#machineSelection {
    /* display: none; */
    width: 12%;
    display: inline-block;
    margin-right: 120px;
    margin-top: 50px;
    position: absolute;
    top: 80px;
    right: 0px;
}

.selectIconMachine {
    font-size: 6em;
    width: 80%;
    margin: 30px;
    margin-bottom: 0;
    color: #e7e7de;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

#board {
    position: absolute;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    font-weight: bold;
    color: #008891;
    border: 3px solid #008891;
    border-style: solid none;
}

#whoWon {
    display: none;
    position: absolute;
    top: 950%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-weight: bold;
    color: #008891;
    border-bottom: 3px solid #008891;
}